html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
}
section {
    width: 100%;
}
.input_area{
    margin-bottom: 20%;
}
form{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}
#login_section{
    max-width: 512px;
    margin: auto;
}
#uid, #pass, #origin, #destination{
    border-top:0; 
    border-right:0; 
    border-left:0; 
    border-radius: 0;
}
#login, #account_add, #start{
    width: 75%;
    max-width: 350px;
    margin: 0 auto;
}
#map {
    width: 100%;
}
#modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(30,30,30,0.9);
    opacity: 0.8;
}
#title {
    font-size: 2rem;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}
.hidden{
    display: none;
}

#menber{
    position: fixed;
    z-index: 1000000;
    background:rgba(255,255,255,0.8);
    /* opacity: 0.7; */
}
