html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin:  0 auto; */
}
section {
    width: 100%;
}
form{
    /* max-width: 512px; */
    padding: 5%;
    margin: 0 auto;
}
button{
    max-width: 350px;
    margin: 0 auto;
}
#map {
    width: 100%;
}
#modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(30,30,30,0.9);
    opacity: 0.8;
}
#title {
    font-size: 2rem;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.hidden{
    display: none;
}

